body{
    margin: 0px;
    padding:0px;
}
#parent-container{
    display: flex;
    flex-direction: row;
    background-color:#F3F5F9 ;
    height:100vh;
    width:100vw;
}
#student_list{
    margin: 20px;
    width:15vw;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
}
#assignments{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width:85vw;
  
  
}
#profile{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#assignmentstoreview{
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    height: 85%;
    width: 100%;
}
#welcomingtext{
    display: flex;
    align-items: center;
    width: 80%;
}
#addassignmentbutton{
    display: flex;
    align-items: center;
    width: 20%;
}
.studentlistheading{
    text-align: center;
}
p{
display: inline;
}
.student_object{
    vertical-align: center;
    background-color: #F3F5F9;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
    width: 200px;
    height: 80px;
border-radius: 10px;
padding-top: 20px;
padding-left: 20px;
}

div.student_object:hover{
    background-color:#633eba50 ;
    width:220px;
    height: 100px;
}
.studentlistblocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}
table{
    border-collapse: separate;
    border-spacing: 0 0.25rem;
    width:90%;
    margin-left: 5%;
}
th{
    background-color: #633EBA;
    height: 50px;
    vertical-align: center;
    border:none;
    border-collapse: collapse;
    color:white;
}
td{
    text-align: center;
    border-collapse: collapse;
    border: none;
    height: 30px;
    vertical-align: center;
}
tr{
    border-radius: 10px;
    background-color: #F3F5F9;
}
tr:hover td{
    background-color: #633eba42
}
tr td:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
tr td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
tr th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
tr th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1{
    color:#633EBA;
}
h2{
    color:#633EBA;
}
.iteratebutton{
    background-color: #633ebab9;
    color:white;
    height: 30px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    font-size: 0.75rem;
    font-weight: bold;
}
#welcomingtext p{
    margin-left: 2rem;
    font-size: 4rem;
}
#addassignmentbutton button{
    background-color: #633eba;
    color:white;
    height: 60px;
    width: 180px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1.5rem;
}
.profile_headings{
    font-size: 1rem;
    color:#633EBA;
}
.profile_values{
    font-size: 1.15rem;
}